.page-item {
    &:first-child {
        .page-link {
            border-top-right-radius: var(--bs-pagination-border-radius);
            border-bottom-right-radius: var(--bs-pagination-border-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &:last-child {
        .page-link {
            border-top-left-radius: var(--bs-pagination-border-radius);
            border-bottom-left-radius: var(--bs-pagination-border-radius);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    .dataTables_wrapper {
        .dataTables_paginate {
            .pagination {
                padding-right: 0;
            }
        }
    }
}

